<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>{"timestamp":"%d{dd-MM-yyyy HH:mm:ss.SSSZ}", "thread":"%t", "level":"%-5level", "message":"%replace{%replace{%msg}{[\r?\n]+}{}}{"}{'}"}%n</pattern>       
            </PatternLayout>    
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.eclipse.jetty" level="warn" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>
        <Logger name="org.apache.kafka" level="warn" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>
        <Logger name="org.apache.kafka.clients.admin.AdminClientConfig" level="error" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>
